@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Major+Mono+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syncopate:wght@400;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
:root {
  --white: #eaeaea;
  --light-white: #c4c4c4;
  --black: #202020;
  --dark-black: #0d0d0d;
  --accent: #43a5be;
}
html,
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  color: var(--white);
  align-items: center;
  justify-content: center;
  font-family: "titillium web", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
body::-webkit-scrollbar {
  width: 1vw;
}
body::-webkit-scrollbar-track {
  background-color: var(--black);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--light-white);
  border-radius: 50px;
  border: 0.3vw solid var(--black);
}
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--white);
  cursor: pointer;
  border: 0.25vw solid var(--black);
}
#nav {
  position: absolute;
  height: 15vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 90vw;
  top: 10vh;
  color: var(--white);
  transition: all 0.4s ease-in-out;
}
#nav > a > div:nth-child(1) {
  height: 17vh;
  width: 17vh;
}
#nav > a > div:nth-child(1) {
  background-image: url("../images/wht_outline.png");
  background-size: cover;
  transition: background-image 0.4s ease-in-out;
}
#nav > a > div:nth-child(1):hover {
  background-image: url("../images/wht_fill.png");
}
#nav div:last-child {
  justify-self: right;
  margin-right: 2vw;
  margin-left: auto;
  font-size: 4vw;
  font-variation-settings: "wght" 220;
}
h1,
h2,
h3,
h4 {
  text-shadow: var(--light-white) 0 0 0.5vw;
}
h1 {
  font-size: 6vw;
  margin: 0;
  font-family: "Anta", sans-serif;
  align-self: center;
  justify-self: center;
  color: transparent;
  -webkit-text-stroke: 1px var(--light-white);
  font-weight: 200;
}
h1 > strong {
  color: var(--white);
  -webkit-text-stroke: 0 var(--light-white);
  font-weight: inherit;
}
h2 {
  font-size: 2.5vw;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
}
h2 > strong {
  font-weight: 500;
}
h3 {
  font-size: 1.7vw;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  font-weight: 100;
}
h3 > strong {
  font-weight: 400;
}
#background {
  background: transparent;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  box-shadow: #eaeaea96 0 0 10px;
  width: 96vw;
  height: auto;
  border-radius: 20px;
  margin: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: all 0.4s ease-in-out;
}
canvas {
  position: fixed;
  top: 0;
  z-index: 0;
  opacity: 0.6;
}
/*Menu Icon*/
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  scale: 70%;
}
.line {
  fill: none;
  stroke: var(--white);
  stroke-width: 2;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 2;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 2;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 2;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 2;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 2;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 2;
}
/*Home Buttons*/
div > a > button {
  margin: 2vw 0.5vw 0 0.5vw;
  padding: 1.5vw 2.4vw;
  background-color: var(--black);
  color: var(--white);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  font-family: "titillium web", sans-serif;
  font-size: 1.5vw;
}
div > a > button:hover {
  background: #eaeaea96;
  color: var(--black);
}
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#menuContent > h1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-self: center;
  justify-content: center;
}
#menuContent > h1 > a {
  margin: 2vw 4vw;
  font-size: 6vw;
  transition: all 0.25s ease-in-out;
  position: relative;
  top: 0;
  -webkit-text-stroke: 1px var(--light-white);
  align-self: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline-flex;
  width: 100%;
}
#menuContent > h1 > a:hover {
  color: var(--light-white);
  -webkit-text-stroke: 1px var(--white);
  text-shadow: #eaeaea96 0 1.5vh 0.7vw;
  top: -1vh;
}
/*Atropos or Projects*/
.projects-section {
  width: calc(95% - (1vw + 1vw + 1vw + 1vw));
  margin: 6vh 1vw 1vw 1vw;
  display: flex;
  align-items: center;
  padding: 1vw;
}
.projects-section:nth-child(1) {
  height: 90%;
  font-size: 5vw;
}
.projects-section:nth-child(2) {
  height: auto;
  display: grid;
  grid-template-columns: 31% 31% 31%;
  column-gap: 3.5%;
}
.project-display {
  height: 90%;
  border-radius: 0.7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1vw;
  height: auto;
  background: rgba(204, 204, 204, 0.164);
  background: linear-gradient(
    140deg,
    rgba(67, 165, 190, 0.25) 10%,
    rgba(45, 112, 129, 0.25) 35%,
    rgba(0, 0, 0, 0.25) 50%,
    rgba(67, 0, 66, 0.25) 65%,
    rgba(114, 0, 107, 0.25) 90%
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.215);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  text-shadow: 0 4px 30px rgba(250, 250, 250, 0.283);
  margin: 1.5vw 0;
}
.project-display > img {
  width: 100%;
  border-radius: 0.7vw;
  opacity: 0.8;
}
.project-display > p {
  margin: 1vw;
}
.project-display > p:nth-child(2) {
  font-size: 165%;
  text-align: center;
  transition: all 0.3s ease-in-out;
  font-family: "Anta", sans-serif;
}
.project-display:hover > p:nth-child(2) {
  color: transparent;
  -webkit-text-stroke: 1px var(--white);
  text-shadow: 0 0.5vw 0.5vw #7500d9;
}
.project-display > p:nth-child(3) {
  font-size: 1.5vw;
}
.thumbnail {
  height: 30vw;
  width: 100%;
  object-fit: cover;
  border-radius: 0.7vw;
}
/*Simple Button*/
.simple-button {
  margin-right: auto;
  margin-top: 3vh;
  font-size: 1.7vw;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}
.simple-button:hover {
  font-weight: 500;
  transform: translateY(-0.5vw);
  text-shadow: var(--light-white) 1vw 1vw 1vw;
}
/*Social Icons*/
.social-icons > a {
  color: var(--light-white);
  margin: 3vw 3vw 1vw 3vw;
  font-size: 3.5vw;
  transition: all 0.3s ease-in-out;
}
.social-icons > a:hover {
  color: var(--white);
  transform: translateY(-0.5vw);
  text-shadow: var(--light-white) 0 0.7vw 1vw;
}
